html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

svg {
  margin: 10px;
}

.node {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
